{% extends 'hospital/base.html' %}

{% block title %}Delete Patient{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-danger text-white">
                <h4>Delete Patient</h4>
            </div>

            <div class="card-body">

                <p>
                    Are you sure you want to delete
                    <strong>{{ patient.name }}</strong>?
                </p>

                <form method="POST">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-danger">
                        Yes, Delete
                    </button>

                    <a href="{% url 'patient_list' %}"
                       class="btn btn-secondary">
                        Cancel
                    </a>
                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}

